html,
body {
    height: 100%;
}
#app {
    position: relative;
    width: 100%;
    height: 100%;
}
.logo {
    font-weight: bold;
    color: #000;
    span {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 5px;
        border: 2px solid #000;
    }
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #000;
    box-shadow: 0 0 1px 1px #000;
    .row {
        display: flex;
        align-items: center;
    }
    .logo {
        margin-right: 20px;
        text-decoration: none;
    }
    &__nav {
        display: flex;
        align-items: center;
        a + a {
            margin-left: 15px;
        }
    }
    &__user {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        padding: 8px 0;
        div {
            position: relative;
            display: flex;
            align-items: center;
            margin-right: 15px;

        }
        span:nth-child(1) {
            cursor: pointer;
        }
        .dropdown-menu {
            right: 0;
            left: auto;
        }
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}
.content {
    position: relative;
    padding: 40px 0;
}
.loading {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    span {
        font-size: 26px;
    }
}
.bid-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.swiper {
    &-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    &-slide {
        font-size: 18px;
        background: #fff;
    }
}
.lots-list {
    &__image {
        width: 90%;
        margin: 0 auto;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ccc;
        img {
            display: flex;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__content {
        margin-top: 20px;
        text-align: center;
    }
    &__about {
        font-size: 14px;
    }
}
.add-lots {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .swiper-container-2 {
        overflow: hidden;
    }
    .swiper-wrapper {
        width: 90%;
    }
}
.text {
    &--center {
        text-align: center;
    }
}
.lot__item {
    position: relative;

    .btn {
        position: absolute;
        top: -12px;
        right: 0;
    }
}